*{
	color: gray;
	margin: 20 8 8 8;
}

html{
	width: 800px;
	margin: auto;
	padding: 0;
}

body{
}

h1{
	color: #ffffff;
}

h2{

}

img{
	display: block;
	width: 100px;
	height: 60px;
}

section{
	width: 100%;
	padding: 20px;
	background-color: rgba(0, 0, 255, 0.3);
}

p{

}